<div class="modal hide fade">
  <div class="modal-header">

    <button type="reset" class="close" data-dismiss="modal" aria-hidden="true" ng-click="closeModal()">&times;</button>
    <h4 ng-show="!action_complete">Sign the Petition</h4>
    <h4 ng-show="action_complete">Thanks</h4>

  </div>

  <div class="modal-body" ng-show="!action_complete">

    <form novalidate
        analytics-on="submit" 
        analytics-event="Sign Pledge Complete" 
        analytics-category="Campaigns"
        analytics-label="{{project.title}}"
        name="signPetition"
        class="signPetition"
        ng-show="!performedAction && !loggedUser && !isContentFromOldSite(project) && !signedPledge"
        ng-submit="signPledge()">
                
        <div form-group form="signPetition">
        
            <label for="firstName">First Name</label>
            <input
                form-field
                required
                type="text" name="firstName" id="firstName" placeholder="First Name" value=""
                ng-blur="Validator.validateField(signPetition.firstName, signPetition)"
                ng-model="signer.firstName" />
            
            <div ng-show="signPetition.FacultyErrors.firstName" class="alert alert-error alert-tooltip">
                {{signPetition.FacultyErrors.firstName}}
            </div>

            <label for="lastName">Last Name</label>
            <input
                form-field
                required
                type="text" name="lastName" id="lastName" placeholder="Last Name" value=""
                ng-blur="Validator.validateField(signPetition.lastName, signPetition)"
                ng-model="signer.lastName" />
            
            <div ng-show="signPetition.FacultyErrors.lastName" class="alert alert-error alert-tooltip">
                {{signPetition.FacultyErrors.lastName}}
            </div>
            
            <label for="email">Email</label>
            <input
                form-field
                required
                type="email" name="email" id="email" placeholder="Email" value=""
                ng-blur="Validator.validateField(signPetition.email, signPetition)"
                ng-model="signer.email" />
            
            <div ng-show="signPetition.FacultyErrors.email" class="alert alert-error alert-tooltip">
                {{signPetition.FacultyErrors.email}}
            </div>

            <label for="zipCode">Zip Code</label>
            <input
                form-field
                required
                type="text" name="zipCode" id="zipCode" placeholder="Zip Code" value=""
                ng-blur="Validator.validateField(signPetition.zipCode, signPetition)"
                simple-validate="{zip: {exp: 'Validator.validateZip($value, signPetition.zip)', message: 'Please enter a valid zip code'}}"
                ng-model="signer.zipCode" />
            
            <div ng-show="signPetition.FacultyErrors.zipCode" class="alert alert-error alert-tooltip">
                {{signPetition.FacultyErrors.zipCode}}
            </div>

        </div>
                                    
        <button type="submit" ng-disabled="signPetition.$invalid" class="btn btn-primary pull-right">Take Action</button>
        
        <p>We do not share your email address without your permission. We will send you updates on this and other important campaigns by email. If at any time you would like to unsubscribe from our email list, you may do so.</p>
    </form>
    </div>

    <div class="modal-body" ng-show="action_complete">
        <div class="text-center">
            <h4>You're awesome, thanks for taking action.</h4>

            <div ng-bind-html-unsafe="project.actionkit.petitionForm.thank_you_text"></div>

            <p style="margin-bottom: 20px;">Please inspire others to take action!</p>

            <div 
            analytics-on="click" 
            analytics-event="Share Facebook Modal Start" 
            analytics-category="Social"
            shareable shareable-facebook class="btn darkblue shareable-btn"><span class="shareable-facebook"><i class="icon-facebook-sign" alt="Share on Facebook" ng-hide="facebookImage"></i></span><span class="shareable-btn-text">Share <span class="italic-share">on</span> Facebook</span></div>

            <div 
            analytics-on="click" 
            analytics-event="Share Twitter Modal Start" 
            analytics-category="Social"
            shareable shareable-twitter class="btn darkblue shareable-btn"><span class="shareable-twitter"><i class="icon-twitter-sign" alt="Share on Twitter" ng-hide="twitterImage"></i></span><span class="shareable-btn-text">Share <span class="italic-share">on</span> Twitter</span></div>
            
        </div>
    </div>
</div>
