<div class="modal hide fade">
  <div class="modal-header">
    <button type="reset" class="close" data-dismiss="modal" aria-hidden="true" ng-click="closeModal()">&times;</button>
    <h4>Thanks</h4>

  </div>

  <div class="modal-body">
    
    <h4>You're awesome, thanks for taking action.</h4>

    <p style="margin-bottom: 20px;">Please inspire others to take action!</p>

    <div shareable shareable-facebook class="btn darkblue shareable-btn"><span class="shareable-facebook"><i class="icon-facebook-sign" alt="Share on Facebook" ng-hide="facebookImage"></i></span><span class="shareable-btn-text">Share <span class="italic-share">on</span> Facebook</span></div>

    <div shareable shareable-twitter class="btn darkblue shareable-btn"><span class="shareable-twitter"><i class="icon-twitter-sign" alt="Share on Twitter" ng-hide="twitterImage"></i></span><span class="shareable-btn-text">Share <span class="italic-share">on</span> Twitter</span></div>

  </div>

</div>


