<div class="stretch"
ng-class="{'banner-blue':bannerType == 'action', 'banner-grey':bannerType == 'social', 'completed':checked == true}"
		    ng-click="check()">
	<div class="container">
		<div class="row banner">
		    <div class="span12">
		        
		        <div class="pull-left banner-fist"></div>
		        
		        <div class="pull-left">
		            <h2>{{bannerAction}}</h2>
		            <h3>{{bannerSubheader}}</h3>
		        </div>
		        
		        <div class="pull-right banner-action">
		            
		            <span ng-show="showAdditionalAction()" style="float: right; position: absolute; top: -80px; left: -10px;">
		                <cta>Donate More</cta>
		            </span>
		
		            <span ng-show="checked" class="action">{{bannerActionFulfilled}}</span>
		            <input type="checkbox" ng-checked="checked">
		            <span class="root-checkbox"></span>
		
		        </div>
		    </div>
		
		</div> <!-- End row-fluid -->
	</div>
</div>