<!-- <div > -->
  <!-- <div class="row" ng-class="{'completed':checked == true}"> -->
    <div class="span6" ng-class="{'completed':checked == true}"
    shareable shareable-facebook ng-class="socialClasses" ng-click="check()" ng-show="isSocialType('facebook')"
    >
      <div class="half-stretch-left"></div>
      <div class="banner-info">
        <div class="pull-left banner-icon">
          <shareable-template shareable shareable-facebook></shareable-template>
        </div>
        <div class="pull-left banner-text">
          <h2>Share on Facebook</h2>
          <h3>and reach 738 people</h3>
        </div>
        <div class="pull-right banner-action">
          <input type="checkbox" ng-checked="checked"><span></span>
        </div>
      </div>
      
    </div>
  <!-- </div> -->
<!-- </div> -->

<!-- <div > -->
  <!-- <div class="row" ng-class="{'completed':checked == true}"> -->
    <div class="span6" ng-class="{'completed':checked == true}" shareable shareable-twitter ng-class="socialClasses" ng-click="check()" ng-show="isSocialType('twitter')">
	  <div class="half-stretch-right"></div>
      <div class="banner-info">
        <div class="pull-left banner-icon">
          <shareable-template shareable shareable-twitter></shareable-template>
        </div>
        <div class="pull-left banner-text">
          <h2>Share on Twitter</h2>
          <h3>and reach 501 people</h3>
        </div>
        <div class="pull-right banner-action">
          <input type="checkbox" ng-checked="checked"><span></span>
        </div>
      </div>
            
    </div>
  <!-- </div> -->
<!-- </div> -->
