.section {
  padding: 20px 0;
  position: relative;
  top: 0px;
}

.section-grey {
  background-color: @light-grey;
  border-top: 2px solid @light-grey;
}

.section-last {
  margin-bottom: -20px;
}

/**
 * Section Typography
 */
@import "./section-typography.less";
