@project-nav-border: 1px solid #0066aa;

.project-nav {
  min-height: 50px;
  background-color: @blue;
}

.project-nav-button {
  width: 60px;
  padding: 15px 0;
  text-align: center;
  position: relative;
  top: 0px;
  border-right: @project-nav-border;
  float: left;
}

.project-nav-button:first-child {
  border-left: @project-nav-border;
  i{
      position: relative;
      top: 2px;
  }
}

.project-nav-icon {
  color: @white;
  width: auto;
  font-size: 25px;
}

.project-nav-button:hover {
  background-color: #0066aa;
  cursor: pointer;
}

.project-nav-button:active {
  background-color: #004A7A;
}

.project-nav-project-title {
  .tagline;
  display: block;
  padding: 10px 10px 10px 20px;
  text-align: left;
  overflow: hidden;
  
}
@media (max-width: 767px) {
    .project-nav-project-title{
            float: none;
            clear: both;
            display: block;
            margin: 0;
            padding: 8px 5px;
        .tagline{margin-left: 0;}
    }
    
    .project-nav .container{
        padding: 0;
    }
    .project-nav-button:last-child{
        margin-right: 10px;
    }
    
    .project-nav-button{
       border-right: none; 
    }
    .project-nav-button:first-child{
        border-left: none;
    }
}
