<div id="homepage-carousel" class="carousel slide">
  <div class="carousel-inner">
    <div class="item active">
      <img src="app/images/header-image.png" alt="" />
      <div class="carousel-caption">
        <h6>Featured Project</h6>
        <h3 class="white headline">Make Corruption Your Issue</h3>
        <p class="white headline">In condimentum tellus vitae tortor venenatis, vel posurere enim venenatis. Donec eu ligula ac arcu lacinia sodales. Phasellus eget magna felis.</p>
        <h2><a>Read More &amp; Share <i class="icon-arrow-right" class="white" style="position: relative; top: 3px;"></i></a></h2>
      </div>
    </div>
  </div><!-- /.carousel-inner -->
    <a class="carousel-control left" href="#homepage-carousel" data-slide="prev">&lsaquo;</a>
    <a class="carousel-control right" href="#homepage-carousel" data-slide="next">&rsaquo;</a>
</div><!-- /.carousel -->
