<footer class="footer muted">
    
    <div class="container">
  
        <div class="row">
            
            <nav class="footer-links span10">
            
                <a href="/#/page/about-us">
                    <h6 class="white">About Us</h6>
                </a>
                
                <a href="http://vimeo.com/rootstrikers" target="_blank">
                    <h6 class="white">Our Videos</h6>
                </a>
                
                <span class="coming-soon" target="_blank">
                    <h6 class="white">Contact Us</h6>
                </span>
                
                <span class="coming-soon" target="_blank">
                    <h6 class="white">Join Our Press List</h6>
                </span>
                
                <a href="#" target="_blank">
                    <h6 class="white">Donate</h6>
                </a>
            
            </nav><!-- .footer-links -->
          
            <nav class="footer-links span2 pull-right">
                <a href="https://www.facebook.com/rootstrikers" target="_blank" class="footer-facebook">
                    <img src="app/images/footer-facebook.png" alt="Facebook">
                </a>
                <a href="https://twitter.com/rootstrikers" target="_blank" class="footer-twitter">
                    <img src="app/images/footer-twitter.png" alt="Twitter">
                </a>
            </nav>
            
        </div>
        
        <div class="row copyright-row">
            
            <div class="span12">
                        
                <a href="#" class="pull-left white" modal page="privacy-policy">
                    Privacy Policy
                </a>
                        
                <p class="pull-left copyright">Rootstrikers is a Campaign of Demand Progress &#169; All Rootstrikers Content is licensed as Creative Commons Attribution 3.0</p>
                
            </div>
            
        </div>
        
    </div>
      
</footer>