<footer class="footer muted">
  <div class="container-fluid">
    <div class="row-fluid">
      <div class="span10 offset1">
        <div class="footer-links pull-left">
          <!-- <a href="#/terms"><h6 class="white">Terms &amp; Conditions</h6></a> | -->  
          <a href="#" modal page="privacy-policy">
            <h6 class="white">Privacy Policy</h6>
          </a> | 
          <a href="/#/page/about-us">
            <h6 class="white">About Us</h6>
          </a> | 
          <a href="http://vimeo.com/rootstrikers" target="_blank">
            <h6 class="white">Videos</h6>
          </a> | 
          <a href="https://www.facebook.com/rootstrikers" target="_blank">
            <h6 class="white">Facebook</h6>
          </a> | 
          <a href="https://twitter.com/rootstrikers" target="_blank">
            <h6 class="white">Twitter</h6>
          </a> | 
          <span class="coming-soon" target="_blank">
            <h6 class="white">Contact Us</h6>
          </span> | 
          <span class="coming-soon" target="_blank">
            <h6 class="white">Join Our Press List</h6>
          </span>
        </div><!-- .footer-links -->
        <p class="copyright pull-right">
            <span class="white pull-right">Rootstrikers is a Campaign of Demand Progress &#169;</span><br>
            <span class="white pull-right">All Rootstrikers Content is licensed as Creative Commons Attribution 3.0</span>
        </p>
      </div>
    </div>
  </div>  
</footer>