<div class="navbar navbar-inverse navbar-fixed-top" ng-hide="onAdmin">
  <div class="navbar-inner">
    <div class="container">
      <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="brand" href="./index.html"><p>Rootstrikers</p></a>
      <div class="margin-right">
        <div class="donation">
          Only the people can force lasting
          <br>
          change on this broken system.
        </div>
        <div class="btn rootstricker-btn">
          Donate
        </div>
      </div>
    </div>
  </div>
  <div class="user-nav">
    <div class="container">
      <ul class="nav pull-right" ng-controller="authController">
        <li>
          <span register-link></span>
        </li>
        <li>
          <span login-link></span>
        </li>
      </ul>
    </div>
  </div>
</div>
