<div class="navbar navbar-inverse navbar-fixed-top" ng-hide="onAdmin">
  <div class="navbar-inner">
    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span3 offset1 float-left-nav">
          <img src="app/images/rsicon.png">
          <a class="brand" href="./index.html"><p>Rootstrikers</p></a>
        </div>
        <div class="span7 float-right-nav">
          <span class="auth-links" ng-controller="authController">
            <div class="btn" id="donate">Donate</div>
            <div class="btn" modal template="app/templates/auth/login.html" title="Login" ng-hide="loggedUser">Login</div>
            <div class="btn" modal template="app/templates/auth/edit.html" ng-show="loggedUser">{{loggedUser.first_name}}</div>
            <div class="btn" ng-click="logout()" ng-show="loggedUser">Logout</div>
            <div class="btn" id="join" modal template="app/templates/auth/register.html" title="Register" ng-hide="loggedUser">Join</div>
          </span>
          <div class="tagline">
            Only the people can force lasting
            <br>
            change on this broken system.
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
