<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container-fluid">
      <div class="span10 offset1">
        <a class="brand" href="./index.html"><p>Rootstrikers</p></a>
      </div>
      <div class="margin-right">
        <div class="tagline">
          Only the people can force lasting
          <br>
          change on this broken system.
        </div>
        <div class="btn" id="join">Join</div>
        <div class="btn" id="donate">Donate</div>
      </div>
    </div>
  </div>
</div>
