<div class="project">
  <div class="project-img">
    <img src="app/images/hack_politics_aged.png">
  </div>
  <hr class="project-hr">
  <div class="project-details">
    <h2>Project:</h2>
    <h3>Hack Politics</h3>

    <h2>Time Remaining:</h2>
    <h4>105 Days</h4>

    <h2>Goal:</h2>
    <p>Photo booth chia literally deserunt ethnic. Velit gluten-free bespoke, nulla cliche esse aesthetic leggings ethnic vegan. 8-bit minim ugh consequat, ex Cosby sweater typewriter lo-fi. Yr excepteur actually plaid PBR, keytar distillery placeat.</p>
  </div>
  <div class="supporters">
    <div class="supporters-text">
      <h2>Supporting Rootstrikers</h2>
      <img src="app/images/circle-head.png">
      <img src="app/images/circle-head2.png">
      <img src="app/images/circle-head3.png">
      <div class="supporter-count">
        <h5>&amp; 1,293</h5>
        <h6>more</h6>
      </div>
    </div>
  </div>
  <div class="read-more">
    <div class="read-more-text">
      Read More &amp; Share
    </div>
  </div>
</div>
