<div class="row-fluid section project">
  <div class="span10 offset1">
    <div class="row-fluid">
      <div class="span7 project-information">
        <div>
          <h2>
            Project:
          </h2>

          <h3>
            {{project.name}}
          </h3>
        </div>

        <div>
          <h2>
            The Problem:
          </h2>

          <p>
            {{project.problem}}
          </p>
        </div>

        <div>
          <h2>
            The Action
          </h2>

          <p>
            {{project.action}}
          </p>
        </div>
      </div>

      <div class="span3 offset2">
        <div class="graph-circular">
          <img src="app/images/fist.png">
        </div>
        <div class="callout">
          <h2>529</h2>
          <h3>Taking Action</h3>
        </div>
      </div>

    </div> <!-- End row-fluid -->
  </div><!-- End Span10 -->
</div><!-- End row-fluid -->
