<div class="quick-view">
  <div class="quick-view-img">
    <!-- We should have some attribute like project.state which can be open or closed or something, and can stand in for the class here, so we can style the black and white images / color versions -->
    <img src="app/images/hack_politics_aged.png">
  </div>
  <hr>
  <div class="content">
    <h2>Project:</h2>
    
    <h3 class="dark-grey">{{item.name}}</h3>
    <br>
    <div ng-show="!completed">
      <h2>Time Remaining:</h2>
      <h3 class="dark-grey">{{item.end_date | timeRemaining}}</h3>
      <br>
      <h2>Goal:</h2>
      <p ng-bind-html-unsafe="item.goal">{{item.goal}}</p>
    </div>

    <div ng-show="completed">
      <!-- Change this in the future to display only when the goal is reached -->
      <div ng-show="completed">
        <img class="goal-reached-stamp" src="app/images/goalstamp@2x.png">
      </div>
      <!-- End goal reached stamp -->
      <h2>Total Outreach:</h2>
      <h3 class="dark-grey">2,246,170</h3>
      <br>
      <h2>New Rootstrikers:</h2>
      <h3 class="dark-grey">1,928</h3>
    </div>

  </div>
</div>
<div class="quick-view-footer">
  <div class="content">
    <h2>Supporting Rootstrikers:</h2>
    <!-- We will have to change this ng-repeat call to user in supporters once we have a service for that -->
    <div ng-repeat="user in users">
      <gravatar-image data-email="user.email" data-size="55" data-rating="pg" data-default="404" data-secure="true" class="avatar avatar-circular avatar-small"></gravatar-image>
    </div>
    <div class="supporter-count">
      <h5>&amp; 1,293</h5>
      <h6>more</h6>
    </div>
  </div>
</div>
<a href="#!/project/{{item.name}}">
    <div class="quick-view-cta">
      <div class="content">
          Take Action<i class="icon-arrow-right"></i>
      </div>
    </div>
</a>
