<div class="navbar navbar-inverse navbar-fixed-top navbar-admin" style="padding-top:20px;">
  <div class="navbar-inner">
    <div class="container">
      <div class="row">
      
        <div class="span3 logo">
            <a class="brand" href="/">
                <img alt="Root Strikers" src="app/images/logo-rootstrikers.png">
            </a>
        </div>
        
        <div class="span9 float-right-nav">
        
          <span class="auth-links pull-right" ng-controller="authController">
          
            <a href="/#!/admin/projects" class="btn">Projects</a>
            <a href="/#!/admin/features" class="btn">Features</a>
            <a href="/#!/admin/pages" class="btn">Pages</a>
            
            <br/>
            
            <div class="pull-right">
                <div
                    modal
                    template="app/templates/auth/edit.html"
                    ng-show="loggedUser"
                    class="logout pull-left">
                        <a>Profile</a>
                </div>
                
                <div ng-click="logout()" ng-show="loggedUser" class="logout pull-left"><a>Log Out</a></div>
            </div>
            
          </span>
          
        </div>
      </div>
    </div>
  </div>
</div>
