<div class="row-fluid section">
    <div class="span10 offset1">
        <h1>Rootstrikers Projects</h1>
        <hr>
        <div class="row-fluid">
            <div class="btn-group pull-right">
              <a href="#/admin/project/new" class="btn btn-inverse">New</a>
            </div>
        </div>
        <hr/>
        <div class="row-fluid">
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="project in projects">
                        <td>{{project.name}}</td>
                        <td>
                            <a href="#/admin/project/edit/{{project.id}}" class="btn btn-primary">Edit</a>
                            <a class="btn btn-danger" ng-click="remove(project.id)">Delete</a>
                            <a class="btn btn-success" ng-click="publish(project.id, true)" ng-show="!project.publish">Publish</a>
                            <a class="btn btn-warning" ng-click="publish(project.id, false)" ng-show="project.publish">Unpublish</a>
                            <a href="#/admin/project/preview/{{project.id}}" class="btn btn-info">Preview</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
