<div class="stretch slider">
    <div class="container">
    	<notification></notification>
        <root-carousel></root-carousel>
    </div>
</div>
<!--
<div class="stretch section-grey">
	<div class="container">
		<div class="row section-last">
		
			<div class="span4">	
				<h2>Rootstrikers by the numbers</h2>
				<p>Photo booth chia literally deserunt ethnic. Velit gluten-free bespoke, nulla cliche esse aesthetic leggings ethnic vegan. 8-bit minim ugh consequat, ex Cosby sweater typewriter lo-fi. Yr excepteur actually plaid PBR, keytar distillery placeat cornhole mixtape labore proident direct trade. Chambray mlkshk Blue Bottle mixtape esse tattooed sint. Meggings Godard labore flexitarian laborum. Fingerstache master cleanse tousled mlkshk keytar.</p>
			</div>
			<div class="span4">
				<h2>Rootstrikers by the numbers</h2>
				<p>Photo booth chia literally deserunt ethnic. Velit gluten-free bespoke, nulla cliche esse aesthetic leggings ethnic vegan. 8-bit minim ugh consequat, ex Cosby sweater typewriter lo-fi. Yr excepteur actually plaid PBR, keytar distillery placeat cornhole mixtape labore proident direct trade. Chambray mlkshk Blue Bottle mixtape esse tattooed sint. Meggings Godard labore flexitarian laborum. Fingerstache master cleanse tousled mlkshk keytar.</p>
			</div>
			<div class="span4">
				<h2>Rootstrikers by the numbers</h2>
				<p>Photo booth chia literally deserunt ethnic. Velit gluten-free bespoke, nulla cliche esse aesthetic leggings ethnic vegan. 8-bit minim ugh consequat, ex Cosby sweater typewriter lo-fi. Yr excepteur actually plaid PBR, keytar distillery placeat cornhole mixtape labore proident direct trade. Chambray mlkshk Blue Bottle mixtape esse tattooed sint. Meggings Godard labore flexitarian laborum. Fingerstache master cleanse tousled mlkshk keytar.</p>
			</div>
			
		</div> 
	</div>
</div>
-->
<!-- End By the Numbers Section -->



<div class="stretch section-grey text-center activity" ng-show="visibleActivity" ng-controller="activityController" ng-init="findAll()">
    <div class="container">
        <div class="row ">
            <div class="span12 text-center fade" ng-class="{ 'in' : animateIn }">
                <p>
                    <gravatar-image
                        data-email="visibleActivity.user_id.email"
                        data-size="50"
                        data-rating="pg"
                        data-default="404"
                        data-secure="true"
                        class="avatar-circular">
                    </gravatar-image>
                    {{visibleActivity.user_id.full_name}} just acted on 
                    <a ng-click="goTo('project/'+visibleActivity.project_id.slug)">{{visibleActivity.project_id.title}}</a> 
                </p>
            </div>
        </div>
    </div>
</div>




<div class="container">
	<div class="row section">
		<div class="span12">
			<h2>These Campaigns Need Your Help Now</h2>
			<hr>
			<div class="quick-views">
				<div class="span4" ng-repeat="item in projects" ng-class="{ 'clearfix' : $index % 3 == 0 }">
					<project-quick-view></project-quick-view>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="container completed-projects">
    <div ng-show="completed_projects.length" class="row section section-last" >
      <div class="span12">
        <h2>Completed Campaigns</h2>
        <hr>
        <div class="row quick-views">
          <div class="span4" ng-repeat="item in completed_projects">
            <project-quick-view completed="true" class="completed"></project-quick-view>
          </div>
        </div>
      </div>
    </div>
</div>
