<!--
<div class="container">
	<notification></notification>
    <root-carousel></root-carousel>
</div>
-->

<!--
<div class="stretch section-grey">
	<div class="container">
		<div class="row section-last">
		
			<div class="span4">	
				<h2>Rootstrikers by the numbers</h2>
				<p>Photo booth chia literally deserunt ethnic. Velit gluten-free bespoke, nulla cliche esse aesthetic leggings ethnic vegan. 8-bit minim ugh consequat, ex Cosby sweater typewriter lo-fi. Yr excepteur actually plaid PBR, keytar distillery placeat cornhole mixtape labore proident direct trade. Chambray mlkshk Blue Bottle mixtape esse tattooed sint. Meggings Godard labore flexitarian laborum. Fingerstache master cleanse tousled mlkshk keytar.</p>
			</div>
			<div class="span4">
				<h2>Rootstrikers by the numbers</h2>
				<p>Photo booth chia literally deserunt ethnic. Velit gluten-free bespoke, nulla cliche esse aesthetic leggings ethnic vegan. 8-bit minim ugh consequat, ex Cosby sweater typewriter lo-fi. Yr excepteur actually plaid PBR, keytar distillery placeat cornhole mixtape labore proident direct trade. Chambray mlkshk Blue Bottle mixtape esse tattooed sint. Meggings Godard labore flexitarian laborum. Fingerstache master cleanse tousled mlkshk keytar.</p>
			</div>
			<div class="span4">
				<h2>Rootstrikers by the numbers</h2>
				<p>Photo booth chia literally deserunt ethnic. Velit gluten-free bespoke, nulla cliche esse aesthetic leggings ethnic vegan. 8-bit minim ugh consequat, ex Cosby sweater typewriter lo-fi. Yr excepteur actually plaid PBR, keytar distillery placeat cornhole mixtape labore proident direct trade. Chambray mlkshk Blue Bottle mixtape esse tattooed sint. Meggings Godard labore flexitarian laborum. Fingerstache master cleanse tousled mlkshk keytar.</p>
			</div>
			
		</div> 
	</div>
</div>
-->
<!-- End By the Numbers Section -->

<div class="container">
	<div class="row section" >
		<div class="span12">
			<h2>Active Projects</h2>
			<hr>
			<div class="quick-views">
				<div class="span4" ng-repeat="item in projects" ng-class="{ 'clearfix' : $index % 3 == 0 }">
					<project-quick-view></project-quick-view>
				</div>
			</div>
		</div>
	</div>
</div>

<div ng-show="completed_projects.length" class="row-fluid section section-last" >
  <div class="span12">
    <h2>Completed Projects</h2>
    <hr>
    <div class="row-fluid quick-views">
      <div class="span4" ng-repeat="item in completed_projects" ng-class="{ 'clearfix' : $index % 3 == 0 }">
        <project-quick-view completed="true" class="completed"></project-quick-view>
      </div>
    </div>
  </div>
</div>

