<div class="container-fluid homepage-container">

  <div id="someone-give-me-an-id" class="carousel slide">
    <div class="carousel-inner">
      <div class="item active">
        <img src="app/images/header-image.png" alt="" />
        <div class="carousel-caption">
          <h6>Featured Project</h6>
          <h3 class="white headline">Make Corruption Your Issue</h3>
          <p class="white headline">In condimentum tellus vitae tortor venenatis, vel posurere enim venenatis. Donec eu ligula ac arcu lacinia sodales. Phasellus eget magna felis.</p>
          <h2><a>Read More &amp; Share <i class="icon-arrow-right" class="white" style="position: relative; top: 3px;"></i></a></h2>
        </div>
      </div>
    </div><!-- /.carousel-inner -->
      <a class="carousel-control left" href="#someone-give-me-an-id" data-slide="prev">&lsaquo;</a>
      <a class="carousel-control right" href="#someone-give-me-an-id" data-slide="next">&rsaquo;</a>
  </div><!-- /.carousel -->

  <div class="row-fluid by-the-numbers">
    <div class="span10 offset1">
      <div class="row-fluid">
        <div class="span4">
          <!-- <div id="dimensions" style="color: blue;"></div> -->
          <h2>Rootstrikers by the numbers</h2>
          <p>Photo booth chia literally deserunt ethnic. Velit gluten-free bespoke, nulla cliche esse aesthetic leggings ethnic vegan. 8-bit minim ugh consequat, ex Cosby sweater typewriter lo-fi. Yr excepteur actually plaid PBR, keytar distillery placeat cornhole mixtape labore proident direct trade. Chambray mlkshk Blue Bottle mixtape esse tattooed sint. Meggings Godard labore flexitarian laborum. Fingerstache master cleanse tousled mlkshk keytar.</p>
        </div>
        <div class="span4">
          <h2>Rootstrikers by the numbers</h2>
          <p>Photo booth chia literally deserunt ethnic. Velit gluten-free bespoke, nulla cliche esse aesthetic leggings ethnic vegan. 8-bit minim ugh consequat, ex Cosby sweater typewriter lo-fi. Yr excepteur actually plaid PBR, keytar distillery placeat cornhole mixtape labore proident direct trade. Chambray mlkshk Blue Bottle mixtape esse tattooed sint. Meggings Godard labore flexitarian laborum. Fingerstache master cleanse tousled mlkshk keytar.</p>
        </div>
        <div class="span4">
          <h2>Rootstrikers by the numbers</h2>
          <p>Photo booth chia literally deserunt ethnic. Velit gluten-free bespoke, nulla cliche esse aesthetic leggings ethnic vegan. 8-bit minim ugh consequat, ex Cosby sweater typewriter lo-fi. Yr excepteur actually plaid PBR, keytar distillery placeat cornhole mixtape labore proident direct trade. Chambray mlkshk Blue Bottle mixtape esse tattooed sint. Meggings Godard labore flexitarian laborum. Fingerstache master cleanse tousled mlkshk keytar.</p>
        </div>
      </div>
    </div>
  </div> <!-- End By the Numbers Section -->

  <div class="row-fluid active-projects" >
    <div class="span10 offset1">
      <h2>Active Projects</h2>
      <hr>
    </div>
  </div>

  <div class="row-fluid">
    <div class="span10 offset1">
      <div class="row-fluid">
        <div class="span4">
          <div class="project">
            <div class="project-img">
              <img src="app/images/hack_politics_aged.png">
            </div>
            <hr class="project-hr">
            <div class="project-details">
              <h2>Project:</h2>
              <h3>Hack Politics</h3>

              <h2>Time Remaining:</h2>
              <h4>105 Days</h4>

              <h2>Goal:</h2>
              <p>Photo booth chia literally deserunt ethnic. Velit gluten-free bespoke, nulla cliche esse aesthetic leggings ethnic vegan. 8-bit minim ugh consequat, ex Cosby sweater typewriter lo-fi. Yr excepteur actually plaid PBR, keytar distillery placeat.</p>
            </div>
            <div class="supporters">
              <div class="supporters-text">
                <h2>Supporting Rootstrikers</h2>
                <img src="app/images/circle-head.png">
                <img src="app/images/circle-head2.png">
                <img src="app/images/circle-head3.png">
              </div>
            </div>
            <div class="read-more">
              <div class="read-more-text">
                Read More &amp; Share
              </div>
            </div>
          </div>
          
        </div>

        <div class="span4">
          <div class="project">
            <div class="project-img">
              <img src="app/images/hack_politics_aged.png">
            </div>
            <hr class="project-hr">
            <div class="project-details">
              <h2>Project:</h2>
              <h3>Hack Politics</h3>

              <h2>Time Remaining:</h2>
              <h4>105 Days</h4>

              <h2>Goal:</h2>
              <p>Photo booth chia literally deserunt ethnic. Velit gluten-free bespoke, nulla cliche esse aesthetic leggings ethnic vegan. 8-bit minim ugh consequat, ex Cosby sweater typewriter lo-fi. Yr excepteur actually plaid PBR, keytar distillery placeat.</p>
            </div>
            <div class="supporters">
              <div class="supporters-text">
                <h2>Supporting Rootstrikers</h2>
                <img src="app/images/circle-head.png">
                <img src="app/images/circle-head2.png">
                <img src="app/images/circle-head3.png">
              </div>
            </div>
            <div class="read-more">
              <div class="read-more-text">
                Read More &amp; Share
              </div>
            </div>
          </div>
          
        </div><div class="span4">
          <div class="project">
            <div class="project-img">
              <img src="app/images/hack_politics_aged.png">
            </div>
            <hr class="project-hr">
            <div class="project-details">
              <h2>Project:</h2>
              <h3>Hack Politics</h3>

              <h2>Time Remaining:</h2>
              <h4>105 Days</h4>

              <h2>Goal:</h2>
              <p>Photo booth chia literally deserunt ethnic. Velit gluten-free bespoke, nulla cliche esse aesthetic leggings ethnic vegan. 8-bit minim ugh consequat, ex Cosby sweater typewriter lo-fi. Yr excepteur actually plaid PBR, keytar distillery placeat.</p>
            </div>
            <div class="supporters">
              <div class="supporters-text">
                <h2>Supporting Rootstrikers</h2>
                <img src="app/images/circle-head.png">
                <img src="app/images/circle-head2.png">
                <img src="app/images/circle-head3.png">
              </div>
            </div>
            <div class="read-more">
              <div class="read-more-text">
                Read More &amp; Share
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
