<project-nav></project-nav>
<section class="carousel">
    <div class="carousel-inner"><img ng-src="{{project.image}}"></div>
</section>

<section>
	<div class="container">
	    <div class="row section project">
            <div class="span8 project-information">
                <div>
                    <h2>Project:</h2>

                    <h3 class="project-title">{{project.title}}</h3>
                </div>

                <div>
                    <h2>The Problem:</h2>

                    <p ng-bind-html-unsafe="project.problem">{{project.problem}}</p>
                </div>

                <div>
                    <h2>The Action:</h2>

                    <p ng-bind-html-unsafe="project.action">{{project.action}}</p>
                </div>
            </div>

            <div class="span4">
                <div class="callout">
                    <div class="fist-small"></div>
                        <p><span>529</span> Taking Action</p>
                    </div>
                    
                <div>
                <form name="signPetition" class="signPetition" ng-submit="signPledge()">
                    
                    <div ng-hide="loggedUser">
                    
                        <label for="firstName">First Name *</label>
                        <input type="text" id="firstName" name="firstName" placeholder="First Name" value="" />
                        
                        <label for="lastName">Last Name *</label>
                        <input type="text" id="lastName" name="lastName" placeholder="Last Name" value="" />
                        
                        <div class="row">
	                        <div class="span3">
		                        <label for="city">City *</label>
								<input type="text" id="city" name="city" placeholder="City" value="" />
	                        </div>
	                        <div class="span1">
		                        <label for="state">State *</label>
                        <state-picker></state-picker>
	                        </div>
                        </div>
                        
                        
                        
                        
                        <label for="zipCode">Zip Code *</label>
                        <input type="text" id="zipCode" name="zipCode" placeholder="Zip Code" value="" />
                        
                        <label for="country">Country *</label>
                        <country-picker></country-picker>
                        
                        <p>*Required Information</p>
                    
                    </div>
                    
                    <button type="submit" class="btn btn-primary pull-right">Sign the Pledge</button>
                    
                </form>
            </div>

	    </div><!-- End row -->
    </div><!-- .container -->
	</div>
	<!-- When we have a rallies-user table or property, add ng-class="user.attending?" or some such -->
    <!--
<div ng-click="performedAction || signPledge()" ng-show="loggedUser">
        <div banner="" banner-type="action" banner-disabled="performedAction" banner-action="Sign the Pledge" banner-action-fulfilled="Signed"></div>
    </div>
-->
    
    <div banner="" banner-type="action" banner-action="Sign the Pledge" banner-action-fulfilled="Signed"></div>
    <div banner-halves=""></div>
    
	<div class="container">
	    <div class="row section section-last">
	        <div class="span12">
	            <h2>Rootstrikers Taking Action:</h2>
	
	            <div class="pill">
	                <h3>529</h3>
	
	                <h2>Rootstrikers</h2>
	            </div>
	
	            <div ng-repeat="user in users"></div>
	        </div>
	    </div>

	</div><!-- .container -->        
</section>
