<section class="jumbotron slider">
  <div class="slider-image">
    <img ng-src="{{project.image}}">
  </div>
</section>

<section class="jumbotron projects">
  <div class="row-fluid">
    <div class="span10 offset1">
      <div class="row-fluid">
        <div class="span6">
          <h2>
            Project:
          </h2>

          <h3>
            {{project.name}}
          </h3>

          <h2>
            The Problem:
          </h2>

          <p ng-bind-html-unsafe="project.description"></p>

          <h2>
            The Action
          </h2>

          <p ng-bind-html-unsafe="project.goal"></p>
  <!--     <div class="span8" ng-repeat="project in projects">
          <project-item></project-item>
          </div> -->
        </div>
        <div class="span4 offset2">
          <div class="actions-circle">
            <img src="app/images/fist.png">
          </div>
          <div class="actions-text">
            <h2>529</h2>
            <h3>Taking Action</h3>
          </div>
        </div>
      </div> <!-- End row -->

      <!-- <div class="row fluid">
        <div class="span12">
          <div class="attend-rally">
            <h2>Attend Rally</h2>
            <h3>@ City Hall, Philadelphia</h3>
          </div>
        </div>
      </div> --> <!-- End row-fluid --> 
    </div> <!-- End span10 -->
  </div><!-- End row-fluid --> 
</section>
