<project-nav></project-nav>
<section class="carousel">
    <div class="carousel-inner"><img ng-src="{{project.image}}"></div>
</section>

<section>
    <div class="row-fluid section project">
        <div class="span10 offset1">
            <div class="row-fluid">
                
                <div class="span8">
                    <div>
                        <h2>Project:</h2>
                        <h3 class="project-title">{{project.title}}</h3>
                    </div>

                    <div>
                        <h2>The Problem:</h2>
                        <p ng-bind-html-unsafe="project.problem">{{project.problem}}</p>
                    </div>

                    <div>
                        <h2>The Action</h2>
                        <p ng-bind-html-unsafe="project.action">{{project.action}}</p>
                    </div>
                </div>

                <div class="span4">
                    <div class="callout">
                        <div class="fist-small"></div>
                        <p><span>529</span> Taking Action</p>
                    </div>
                    
                    <div>
                        
                        <form name="signPetition" class="signPetition" ng-submit="signPledge()">
                            
                            <div ng-hide="loggedUser">
                            
                                <label for="firstName">First Name *</label>
                                <input type="text" id="firstName" name="firstName" placeholder="First Name" value="" />
                                
                                <label for="lastName">Last Name *</label>
                                <input type="text" id="lastName" name="lastName" placeholder="Last Name" value="" />
                                
                                <label for="city">City *</label>
                                <input type="text" id="city" name="city" placeholder="City" value="" />
                                
                                <label for="state">State *</label>
                                <state-picker></state-picker>
                                
                                <label for="zipCode">Zip Code *</label>
                                <input type="text" id="zipCode" name="zipCode" placeholder="Zip Code" value="" />
                                
                                <label for="country">Country *</label>
                                <country-picker></country-picker>
                                
                                <p>*Required Information</p>
                            
                            </div>
                            
                            <button type="submit" class="btn btn-primary pull-right">Sign the Pledge</button>
                            
                        </form>
                        
                    </div>
                    
                </div>
            </div><!-- End row-fluid -->
        </div><!-- End Span10 -->
    </div><!-- End row-fluid -->
    <!-- When we have a rallies-user table or property, add ng-class="user.attending?" or some such -->
    
    <div ng-click="performedAction || signPledge()" ng-show="loggedUser">
        <div banner="" banner-type="action" banner-disabled="performedAction" banner-action="Sign the Pledge" banner-action-fulfilled="Signed"></div>
    </div>
    <div banner-halves=""></div>

    <div class="row-fluid section section-last">
        <div class="span10 offset1">
            <h2>Rootstrikers Taking Action:</h2>

            <div class="pill">
                <h3>529</h3>
                <h2>Rootstrikers</h2>
            </div>

            <div ng-repeat="user in users"></div>
        </div>
    </div>

    <!--
    <div class="row-fluid section section-grey section-last">
    
        <div class="span10 offset1">
        
            <h2>Dialog:</h2>

            <div ng-repeat="user in users">
                <div class="row-fluid comment">
                    <div class="span2">
                        <div class="comment-head"></div>
                    </div>

                    <div class="span10">
                        <div class="comment-box">
                            <div class="row-fluid">
                                <div class="span3 commenter-name">
                                    <h2 class="blue">Rob M.</h2>
                                </div>

                                <div class="span3 offset6 comment-time">
                                    <h2 class="blue">12:01PM</h2>
                                </div>
                            </div>

                            <div class="row-fluid">
                                <div class="span12">
                                    <div class="comment-body">
                                        <p>Hipster ipsum yolo sit amet. Consectetur Marfa duis leggings blog yr, whatever sriracha. Velit in trust fund authentic. Occupy exercitation biodiesel bicycle rights, Pinterest hashtag Bushwick. Synth American Apparel 3 wolf moon laboris Schlitz, bespoke nulla 8-bit umami wolf aliqua dolore fap. Voluptate incididunt direct trade elit exercitation occaecat. Farm-to-table chillwave qui Wes Anderson, street art umami ea meggings church-key cupidatat distillery. Exercitation quinoa aesthetic, polaroid whatever Odd Future food truck American Apparel retro butcher twee wolf trust fund raw denim.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    -->
    
</section>
