.actions-circle {
  border: 40px solid @actions-grey;
  width: 200px !important;
  height: 200px !important;
  .border-radius(200px);
  margin: 0 auto;
}

.actions-circle img {
  margin: 60px 0 0 65px;
}

.actions-text h2 {
  font-family: @oswald;
  font-size: 60px !important;
  color: @actions-h2;
  display: block !important;
  text-align: center;
  margin: 40px 0 0 0;
}

.actions-text h3 {
  display: block !important;
  text-align: center;
  font-family: @oswald;
  font-weight: 400;
  color: @light-grey;
  margin: 30px 0 0 0;
}

.attend-rally {
  background-color: @blue;
  width: 200%;
  position: absolute;
  left: 0;
  right: 0;
}
