/**
 * Bootstrap
 */
@import "../../../bower_components/bootstrap/less/bootstrap.less";
@import "../../../bower_components/bootstrap/less/responsive.less";
@iconSpritePath:          "/img/glyphicons-halflings.png";
@iconWhiteSpritePath:     "/img/glyphicons-halflings-white.png";

/**
 * Prefixer
 */
@import "./prefixer.less";

/**
 * Base Styles
 */
@import "./base.less";

/**
 * Navbar
 */
@import "./menu.less";

/**
 * Main Content
 */

@import "./main-content.less";

/**
 * Footer
 */
@import "./footer.less";

/**
 * Buttons
 */
@import "./buttons.less";

/**
 * Slider
 */
@import "./slider.less";

/**
 * Projects
 */
@import "./projects.less";

/**
 * Join Banner
 */
@import "./join-banner.less";


/**
 * Forms
 */
@import "./forms.less";

/**
 * Homepage
 */
@import "./homepage.less";

/**
 * Angular
 */
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none;
}
