// Colors
@blue: #0099ff;
@dark-grey: #262626;
@medium-grey: #888888;
@light-grey: #e3e9ec;
@white: #ffffff;

// Fonts
@opensans = 'Open Sans', sans-serif;
@oswald = 'Oswald', sans-serif;

body {
  padding-top: 60px;
  font-family: @opensans;
  color: @medium-grey;
};
