// Colors
@white: #ffffff;
@actions-grey: #ebf1f4;
@light-grey: #e3e9ec;
@medium-grey: #888888;
@dark-grey: #262626;
@blue: #0099ff;
@dark-blue: #004a7a;
@footer-grey: #2d2d2d;
@jumbotron-black: #030301;
@actions-h2: #545454;

// Fonts
@opensans: 'Open Sans', sans-serif;
@oswald: 'Oswald', sans-serif;

// Gutter
@global-gutter: 100px;

html, body {
  height: 100%;
}

body {
  font-family: @opensans;
  color: @medium-grey;
}

h2 {
  font-family: @oswald !important;
  font-size: 14px;
  text-transform: uppercase;
  text-align: left;
  letter-spacing: 1.5px;
}

h3 {
  color: @blue;
  font-size: 40px;
  font-family: @opensans;
  font-weight: 800;
  text-transform: uppercase;
  text-align: left;
}

.homepage-container {
  padding-left: 0px;
  padding-right: 0px;
}

.admin .admin-hide {
    display: none;
}

.admin .admin-show {
    display: block;
}