.btn {
  border-radius: 3px;
}

.rootstricker-btn {
  border: none;
  background-color: @blue;
  background-image: none !important;
  text-shadow: none !important;
  box-shadow: none !important;
  color: @white;
  text-transform: uppercase;
  font-family: @opensans;
  font-weight: 800;
  border-color: none;
  font-size: 12px;
  padding: 10px 20px;
  letter-spacing: 2.5px;
}

.facebook-btn,
.join-btn {
  background-color: @dark-blue !important;
  background-image: none !important;
  border: 0;
  text-shadow: none !important;
  color: @white;
  font-family: @opensans;
  font-weight: 400;
  text-transform: uppercase;
  height: 30px;
  letter-spacing: 3px;
  font-size: 10px
}

.facebook-btn {
  width: 200px;
}

.facebook-btn .accent-text,
.span1 .accent-text,
.join-btn {
  font-weight: 300;
  text-transform: uppercase;
  color: @white;
}

.facebook-btn .accent-text {
  font-size: 8px;
}

.accent-text {
  font-style: italic;
}

.span1 .accent-text {
  font-size: 12px;
  line-height: 35px;
}

.btn-text { 
  position: relative;
  top: -32px;
  float: right;
  padding-right: 5px;
}

.facebook-icon {
  position: relative;
  top: -3px;
  left: -12px;
  width: 40px;
  height: 37px;
  background-color: #005a94;
  border-radius: 3px;
}

.facebook-icon i {
  font-size: 24px;
  position: relative;
  left: -5px;
  top: 8px;
}

.join-btn {
  line-height: 30px;
  margin-top: -9px;
  width: 60px;
  font-weight: 400;
  letter-spacing: 5px;
}

.read-more {
  width: 100%;
  height: 40px;
  background-color: @blue;
}

.read-more-text {
  margin: auto;
  color: @white;
  text-transform: uppercase;
  font-family: @opensans;
  font-weight: 400;
  text-align: center;
  line-height: 40px;
}
