@menu-height: 100px;

// Override Bootstrap defaults
.navbar-inner, .navbar-inverse {
  background: @dark-grey !important;
  background-color: @dark-grey !important;
  height: @menu-height;
};

.navbar-inner .container {
  margin: 10px (@global-gutter + 16px);
}

.navbar-inner .container p {
  margin: -41px 0 0 75px;
}

.brand {
  font-family: @oswald;
  color: @white !important;
  text-transform: uppercase;
  font-weight: 300 !important;
  letter-spacing: 1.2px !important;
  font-size: 24px !important;
}

.brand:before {
  content: url('../images/rsicon.png');
  margin: 0 25px 0 0;
}

.navbar-inverse .brand, .navbar-inverse .nav > li > a {
  text-shadow: none;
}

.margin-right {
  position: absolute;
  right: @global-gutter + 20px;
  top: 22px
}

.tagline {
  color: @white;
  text-transform: uppercase;
  font-family: @oswald;
  font-weight: 300;
  letter-spacing: 2px !important;
  text-align: right;
  display: inline-block;
  margin: 10px 20px 0 0;
}

.margin-right .btn {
  position: relative;
  top: -15px;
}

