@twice-gutter: (@global-gutter * 2);

.slider {
  margin: 80px 0 0 0;
  background-color: @jumbotron-black;
}

.slider-image {
  width: (100% - @twice-gutter);
  margin: 0 auto;
}

.slider-image img {
  width: 100%;
}
