@twice-gutter: (@global-gutter * 2);

.slider {
  margin: 140px 0 0 0;
  background-color: @jumbotron-black;
  width: 100%;
}

.slider-image {
  width: (100% - @twice-gutter);
  margin: 0 auto;
}

.slider-image img {
  width: 100%;
}

.slider h3 {
  font-family: @oswald;
  font-size: 40px;
  font-weight: 300;
  color: @white;
  text-transform: uppercase;
  text-align: center;
  width: 900px;
  margin: 10px auto;
  padding: 40px;
  letter-spacing: 10px;
  line-height: 70px;
}
