<div class="modal hide fade">

  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4>Edit Your Profile</h4>
  </div>
  
  <form name="form" ng-submit="update()" class="form-horizontal">
  
    <div class="modal-body">
    
      <div class="alert alert-error" ng-show="formErrors.extra">
         <strong>{{formErrors.extra}}</strong>
      </div>
      
      <fieldset>
      
        <div class="control-group" ng-class="{error: formErrors.first_name}">
          <label class="control-label" for="firstName">First Name</label>
          <div class="controls">
            <input type="text" id="firstName" name="first_name" ng-model="loggedUser.first_name" placeholder="First Name" required/>
            <span class="help-inline" ng-show="formErrors.first_name">{{formErrors.first_name}}</span>
          </div>
        </div>

        <div class="control-group" ng-class="{error: formErrors.last_name}">
          <label class="control-label" for="lastName">Last Name</label>
          <div class="controls">
            <input type="text" id="lastName" name="last_name" ng-model="loggedUser.last_name" placeholder="Last Name" required/>
            <span class="help-inline" ng-show="formErrors.last_name">{{formErrors.last_name}}</span>
          </div>
        </div>

        <div class="control-group" ng-class="{error: formErrors.email}">
          <label class="control-label" for="updateEmail">Email</label>
          <div class="controls">
            <input type="email" id="updateEmail" name="email" ng-model="loggedUser.email" placeholder="Your Email" required/>
            <span class="help-inline" ng-show="formErrors.email">{{formErrors.email}}</span>
          </div>
        </div>

        <div class="control-group" ng-class="{error: formErrors.city}">
          <label class="control-label" for="updateCity">City</label>
          <div class="controls">
            <input type="text" id="updateCity" name="city" ng-model="loggedUser.city" placeholder="City"/>
            <span class="help-inline" ng-show="formErrors.city">{{formErrors.city}}</span>
          </div>
        </div>

        <div class="control-group" ng-class="{error: formErrors.state}">
          <label class="control-label" for="updateState">State</label>
          <div class="controls">
            <input type="text" id="updateState" name="state" ng-model="loggedUser.state" placeholder="State"/>
            <span class="help-inline" ng-show="formErrors.state">{{formErrors.state}}</span>
          </div>
        </div>

        <div class="control-group" ng-class="{error: formErrors.country}">
          <label class="control-label" for="updateCountry">Country</label>
          <div class="controls">
            <input type="text" id="updateCountry" name="country" ng-model="loggedUser.country" placeholder="Country"/>
            <span class="help-inline" ng-show="formErrors.country">{{formErrors.country}}</span>
          </div>
        </div>

        <div class="control-group" ng-class="{error: formErrors.avatar}">
          <div class="controls">
            <img ng-src="{{loggedUser.thumb}}"/>
            <a ng-click="uploadAvatar()" class="btn btn-primary">Add an avatar</a>
            <span class="help-inline" ng-show="formErrors.avatar">{{formErrors.avatar}}</span>
          </div>
        </div>
        
    </fieldset>
    
    <fieldset>
        
        <div class="control-group" ng-class="{error: formErrors.newPassword}">
          <label class="control-label" for="updatePassword">New Password</label>
          <div class="controls">
            <input type="password" id="updatePassword" name="newPassword" ng-model="loggedUser.newPassword" placeholder="New Password"/>
            <span class="help-inline" ng-show="formErrors.password">{{formErrors.newPassword}}</span>
          </div>
        </div>

        <!--
        <div class="control-group" ng-class="{error: formErrors.newPassword}">
          <label class="control-label" for="updateNewPassword">New Password</label>
          <div class="controls">
            <input type="password" id="updateNewPassword" name="newPassword" class="warning" ng-model="loggedUser.newPassword" placeholder="New Password" required/>
            <span class="help-inline" ng-show="formErrors.newPassword">{{formErrors.newPassword}}</span>
          </div>
        </div>
        -->
        
    </fieldset>
    
    </div>
    
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary">Save</button>
        <a class="btn" ng-click="cancel()">Cancel</a>
    </div>
    
  </form>
  
</div>