<div class="modal hide fade join-us">
  <div class="modal-header">
    <button type="reset" class="close" data-dismiss="modal" aria-hidden="true" ng-click="cancel()">&times;</button>
    <h4>REGISTER</h4>
    <!--
<pre>
        {{formUser}}
    </pre>
-->
  </div>

  <div class="modal-body">
    <form name="form" ng-submit="register()">
      	<div class="step step1" ng-show="registerStep == 1">
      	   
      	   <a ng-click="fbLogin()" class="btn btn-primary darkblue">Login / Register with Facebook</a>
      	   <p class="text-center"><em>or</em></p>
      	   <div class="row">
          	   <div class="span3">
              	   <input type="text" placeholder="Your Email Address" ng-model="formUser.email"/>
          	   </div>
          	   <div class="span3">
              	   <button class="btn btn-primary" ng-click="registerStep = 2">Start Registration</button>
          	   </div>
      	   </div>
      	   
      	</div>

    
        <div class="step2 step" ng-show="registerStep == 2">
            <div class="pad">    
                <div class="alert alert-error" ng-show="formErrors.extra">
                    <strong>{{formErrors.extra}}</strong>
                </div>
                <fieldset>
                        <div class="row">
                            <div class="control-group span6" ng-class="{error: formErrors.avatar}">
                                <div class="controls">
                                    <img class="avatar-thumb" height="60px" ng-src="{{formUser.thumb}}"/>
                                    <a ng-click="uploadAvatar()" class="avatar">
                                        <i class="icon-plus-sign"></i> <span>Upload an avatar</span>
                                    </a>
                                    <span class="help-inline" ng-show="formErrors.avatar">{{formErrors.avatar}}</span>
                                </div>
                            </div>
                        </div>
                        <div class="control-group" ng-class="{error: formErrors.first_name}">
                            <label class="control-label" for="firstName">First Name</label>
                            <div class="controls">
                                <input type="text" id="firstName" name="first_name" ng-model="formUser.first_name" placeholder="First Name" required/>
                                <span class="help-inline" ng-show="formErrors.first_name">{{formErrors.first_name}}</span>
                            </div>
                        </div>
                        
                        <div class="control-group" ng-class="{error: formErrors.last_name}">
                            <label class="control-label" for="lastName">Last Name</label>
                            <div class="controls">
                                <input type="text" id="registeremail" name="last_name" ng-model="formUser.last_name" placeholder="Last Name" required/>
                                <span class="help-inline" ng-show="formErrors.last_name">{{formErrors.last_name}}</span>
                            </div>
                        </div>
                    
                </fieldset>
                
                <button class="btn btn-primary" ng-click="registerStep = 3">Next</button>
            </div>
        </div>
        
        
        <div class="step3 step" ng-show="registerStep == 3">
        
            <div class="pad">

                <div class="control-group" ng-class="{error: formErrors.password}">
                    <label class="control-label" for="registerPassword">Password</label>
                    <div class="controls">
                        <input type="password" id="registerPassword" name="password" ng-model="formUser.password" placeholder="Desired password" required/>
                        <span class="help-inline" ng-show="formErrors.password">{{formErrors.password}}</span>
                    </div>
                </div>
                
                <div class="control-group" ng-class="{error: formErrors.passConfirmation}">
                    <label class="control-label" for="registerConfirm">Password Confirmation</label>
                    <div class="controls">
                        <input class="warning" id="registerConfirm" name="passConfirmation" type="password" ng-model="formUser.passConfirmation" placeholder="Confirm password" required/>
                        <span class="help-inline" ng-show="formErrors.passConfirmation">{{formErrors.passConfirmation}}</span>
                    </div>
                </div>
                
                <button class="btn btn-primary" ng-click="registerStep = 4">Register</button>
            </div>
        </div>
        
        
        <div class="step4 step" ng-show="registerStep == 4">
            <div class="pad">
                <!--
<div class="control-group" ng-class="{error: formErrors.city}">
                    <label class="control-label" for="city">City</label>
                    <div class="controls">
                        <input id="city" name="city" type="text" ng-model="formUser.city" placeholder="City"/>
                        <span class="help-inline" ng-show="formErrors.city">{{formErrors.city}}</span>
                    </div>
                </div>
                            
                <div class="control-group" ng-class="{error: formErrors.state}">
                    <label class="control-label" for="state">State</label>
                    <div class="controls">
                        <input id="state" name="state" type="text" ng-model="formUser.state" placeholder="State"/>
                        <span class="help-inline" ng-show="formErrors.state">{{formErrors.state}}</span>
                    </div>
                </div>
-->

        
                <div class="control-group" ng-class="{error: formErrors.zip}">
                    <label class="control-label" for="zip">Zip</label>
                    <div class="controls">
                        <input id="zip" name="zip" type="text" ng-model="formUser.zip" placeholder="Zip" required/>
                        <span class="help-inline" ng-show="formErrors.zip">{{formErrors.zip}}</span>
                    </div>
                </div>
                
                <!--
<div class="control-group" ng-class="{error: formErrors.country}">
                    <label class="control-label" for="country">Country</label>
                    <div class="controls">
                        <input id="country" name="country" type="text" ng-model="formUser.country" placeholder="Country"/>
                        <span class="help-inline" ng-show="formErrors.country">{{formErrors.country}}</span>
                    </div>
                </div>
-->
                
                <button type="submit" id="submit" class="btn btn-primary" ng-click="registerStep = 4">Register</button>
            </div>
            
        </div>
    </form>
    
    <div class="step5 step" ng-show="registerStep == 5">
        Thanks!
        
        <button type="submit" id="submit" class="btn btn-primary">Register</button>
        <button ng-click="yourWelcome()">Close</button>
    </div>

  </div>

</div>


