.avatar {
  float: left;
  margin: 0 10px 0 0;
}

.avatar:hover {
  .grayscale;
}

.small-avatar {
  width: 55px;
}

.avatar-circular {
  .avatar;
  .border-radius(50%);
}

.avatar-circular:hover {
  .grayscale;
}
