.avatar {
  float: left;
}

.avatar-small img {
  width: 55px;
  margin: 0 10px 0 0;
}

.avatar-small:hover {
    .grayscale;
}

.avatar-large img {
  width: 120px;
  margin: 0 40px 0 0;
}

.avatar-circular {
    margin-bottom: 10px;
}

.avatar-circular img {
  .border-radius(50%);
}

.quick-view-footer .avatar-circular {
    margin-right: 10px;
}