@banner-height: 120px;
@screen-sm: 768px;
@screen-md: 992px; 

.banner {
  width: 100%;
  height: @banner-height;
  line-height: 115px;
  overflow: hidden;

  h2 {
    font-size: 25px;
    letter-spacing: 5px;
  }

  h3 {
    font-size: 20px;
  }
  
  h2, h3 {
      margin: 0;
  }
}

.banner .banner-fist {
    height: 52px;
    width: 52px;
    background: url("../../app/images/fists.png") no-repeat -20px 0;
    margin: 35px 32px 0 0;
}

.banner .span6{position: relative; height: 120px;}

.banner.completed .banner-fist {
    background: url("../../app/images/fists.png") no-repeat -72px 0;
}

.banner-light-grey h2, .banner-light-grey h3 {
    font-family: @oswald;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 4px;
}

.banner-light-grey {
    background-color: @lightest-grey;
}

.banner-light-grey .span6:hover .half-stretch-left{
    background: #e2e9ec;
}

.banner-light-grey .span6:hover .half-stretch-right{
    background: #e2e9ec;
}


.banner-icon {
    float: left;
}

.banner-icon a { 
    display: block;
    margin-top: 5px;
}

.banner-icon i {
    color: @blue;
    font-size: 45px;
}

.banner-action {
  height: @banner-height;
}

.banner-info{position: relative; z-index: 10; padding: 0 20px;}
.half-stretch-left, .half-stretch-right{position: absolute; height: 100%; width: 10000px; top: 0;}
.half-stretch-left{right: 0;}
.half-stretch-right{left: -@gridGutterWidth; border-left: 1px solid #e2e9ec;}

.banner-action span.action {
  color: @white;
  text-transform: uppercase;
  font-family: @oswald;
  letter-spacing: 4px;
  font-size: 16px;
  line-height: 8px;
}

.banner-blue {
  background-color: @blue;
}

.banner-light-grey h2 {
  color: @blue;
}

.attending {
  color: @pale-blue !important;
}

.banner-blue h2 {
  line-height: @banner-height;
  color: @white;
}

.banner-blue h3 {
  color: @dark-grey;
}

.banner-grey h3,
.banner-light-grey h3 {
  color: @medium-grey;
}

.banner-text {
    margin: 43px 0 0 25px;
}

input[type="checkbox"] { 
  z-index: 200;
  opacity: 0;
}
  
.banner-grey input[type="checkbox"] + span:before,
.banner-light-grey input[type="checkbox"] + span:before {
  content: "\f00c"; /* check-empty */
  color: @white;
}

.banner-grey input[type="checkbox"]:checked + span:before,
.banner-light-grey input[type="checkbox"]:checked + span:before {
  content: "\f00c"; /* check */
  color: @checkbox-blue;
}

.banner-blue.completed {
    cursor: default !important;
}

.banner-blue.completed h2,
.banner-blue.completed h3 {
  color: @pale-blue;
}

.banner-blue:hover, .banner-blue.completed {
  background-color: #0090f0;
}

.banner-grey .completed h2,
.banner-grey .completed h3 ,
.banner-grey .completed i,
.banner-light-grey .completed h2,
.banner-light-grey .completed h3,
.banner-light-grey .completed i {
  color: @fade-out-grey;
}

@media (min-width: 768px) and (max-width: 979px) {}
@media (max-width: 767px) {}
@media (max-width: 480px) {}
@media (min-width: 1200px) {
	.half-stretch-right{left: -@gridGutterWidth1200;}		
}


/* Small devices (tablets, 768px and up) */
@media (max-width: @screen-sm) {
    .banner h2 {
        font-size: 20px;
        letter-spacing: 3px;
    }
    .banner-text {
        margin: 40px 0 0 15px !important;
    }
    
    .banner-light-grey h2, .banner-light-grey h3 {
        font-size: 14px !important;
    }
    
    .banner .banner-fist {
        margin: 35px 15px 0 0;
    }
    .banner{
	    overflow: visible;
	    height: auto;
    }
	.half-stretch-left, .half-stretch-right{
		display: none;
	}
	
	.banner-info{padding: 0;}
}

/* Medium devices (desktops, 992px and up) */
@media (max-width: @screen-md) {
    .banner-text {
        margin: 40px 0 0 10px;
    }
    .banner-light-grey h2, .banner-light-grey h3 {
        font-size: 10px;
    }
}