// The banner spans the entire page width, and is the standard blue; content begins
// 40px down.
.join-banner {
  width: 100%;
  height: 100px;
  background-color: @blue;
  padding: 40px 0 0 0;
}

.or {
  margin-left: 12px;
  margin-right: 12px;
  display: inline-block;
  font-size: 8px;
  color: @white;
  text-transform: uppercase;
}

.fineprint {
  font-size: 10px;
  text-align: center;
  margin: 10px 0 5px 0px;
  color: @dark-blue;
}

.fineprint a {
  color: @white;
}

// Bootstrap sets a default margin-bottom, which needs to be overridden for these to line up
.join-banner input {
  margin-bottom: 0px;
}
