.callout p {
    font-family: @oswald;
    color: @medium-grey;
    font-size: 20px;
    line-height: 30px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.callout span {
    color: @dark-grey;    
}

.callout .fist-small {
    height: 22px;
    width: 20px;
    background: url("../../app/images/fists.png") no-repeat 0 -1px;
    float: left;
    margin: 3px 14px 0 0;
}