<div class="row-fluid section">
  <div class="span10 offset1">
    <a href="#/admin/features" class="btn btn-inverse float-right">View All Features</a>
    <h1>New Feature</h1>

    Message: <input type="text" ng-model="feature.message" required><br>
    Action: <input type="text" ng-model="feature.action" required><br>
    Action Link: <input type="text" ng-model="feature.actionUrl" required><span style="margin-left: 5px;">(When users click the Action text, they'll be directed to this URL).</span><br>
    <br>

    <div image-picker="feature" default-img="app/images/axesbaxes.gif"></div>

    <!-- <div remove-image="feature" default-img="app/images/axesbaxes.gif"></div>
    <div add-image="feature" default-img="app/images/axesbaxes.gif"></div> -->
    <span>(For best results, upload an image at 1440px x 300px, or with a transparent background).</span> 

    <br>
  </div>
</div>

<div class="row-fluid section">
  <div class="span10 offset1">
    <h1>Preview</h1>
    <div class="carousel slide">
      <div class="carousel-inner">
        <div class="item active">
          <img ng-src="{{feature.image}}" alt="" ng-show="feature.image"/>
          <div class="carousel-caption">
            <h3 class="white headline-big">{{feature.message}}</h3>
            <h2><a ng-href="{{feature.actionUrl}}" target="_blank">{{feature.action}}<i class="icon-arrow-right" class="white" style="position: relative; top: 3px;" ng-show="feature.action"></i></a></h2>
          </div>
        </div>
      </div><!-- /.carousel-inner -->
    </div><!-- /.carousel -->
  </div>
</div>

<div class="row-fluid section section-last">
  <div class="span10 offset1">
    <h1>Publish or Save</h1>
    Published: <input type="checkbox" ng-model="feature.published"><span class="blue"></span>
    <br><br>
    <a type="submit" class="btn" ng-click="create();">Submit</a>
  </div>
</div>
