// Colors
@white: #ffffff;
@lightest-grey: #ebf1f4;
@light-grey: #dee3e5;
@medium-grey: #888888;
@dark-grey: #545454;
@darkest-grey: #262626;
@blue: #0099ff;
@pale-blue: #0076c5;
@dark-blue: #004a7a;
@jumbotron-black: #030301;
@black: #000000;
