.project-title {
  font-size: 32px;
  line-height: 34px;
  letter-spacing: 1px;
}

.project {
  margin-bottom: 60px;
}

.project-information img {
    float: left;
    padding: 0 20px 10px 0;
}

.project-information .infographic img {
    padding: 50px 0;
}

.signPetition input, .signPetition select {
    height: 32px;
    width: 96%;
    border-color: #bfd1dd;
}

.signPetition select {
	width: 104%;
	height: 42px;
}

.taking-action{
    h3{
        margin-top: 0px;
    }
    
    .pill{
        padding: 30px 0;
        height: 60px;
    }
    
}

@media (min-width: 768px) and (max-width: 979px) {

}
@media (max-width: 767px) {
    .taking-action{    
        .pill{
            padding: 30px 0;
            height: 115px;
            margin-bottom: 25px;
        }
        
        .span2{
            float: left; 
            width: 50%;
            text-align: center;
        }
    }
    
}
@media (max-width: 480px) {}
@media (min-width: 1200px) {}
