.project-title {
  font-size: 40px;
  line-height: 45px;
  letter-spacing: 4px;
}

.project {
  margin-bottom: 60px;
}

.signPetition input, .signPetition select {
    height: 32px;
    width: 100%;
    border-color: #bfd1dd;
}

.signPetition select {
	width: 104%;
	height: 42px;
}

@media (min-width: 768px) and (max-width: 979px) {

}
@media (max-width: 767px) {
    .project-title{letter-spacing: 2px; line-height: 40px; font-size: 35px;}
}
@media (max-width: 480px) {}
@media (min-width: 1200px) {}